.logo{
/*https://www.canva.com/design/DAE4odoMGLw/xO_iWvttpm4oRh-n9JF4yQ/edit*/
	background-image: url("WesternValleyFarms.png");
	height: 296px;
	width: 304px;
	background-repeat:no-repeat;
	margin-left: auto; 
    margin-right: auto;
   

}

hr{
	color: #DCDCDC;
	border-radius: 5px;
}
h1{
	text-align: center;
}
body{
	text-align: center;
	background-color: #F5DEB3;
	
}
table {
  margin-left: auto; 
  margin-right: auto;
  padding-left: 70px;
}
input{
	background-color: #F5DEB3;
	
	
}